
@use 'cleanpurple.scss'; // look below for how to change theme parameters
// @use 'cleanpurple.scss' with (
//     $font-color: $ucsd-black, 
//     $footer-color: $ucsd-navy, 
//     $heading-color: $ucsd-navy, 
//     $margins-color: $ucsd-blue,
//     $title-underline-color: $ucsd-gold, 
//     $link-color: $ucsd-turquoise, 
//     $main-font: $serif-font, 
//     $heading-font: $sans-serif-font, 
//     $aspect-width: $aspect-width, 
//     $aspect-height: $aspect-height, 
//     $accent-colors: $accent-colors,
//     $replace-colors: $replace-colors
// ;

.portrait {
    object-fit: cover;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}

